.footer {
  margin: 0 auto;
  padding: ritmo(6) 20px ritmo(2) 20px;

  p {
    text-align: center;

    @include mq($until: break-medium-small) {
      @include ritmo-font-size(14px);
    }
  }

  a {
    font-weight: 700;
    color: palette(black);
    transition: background ease 0.5s;

    &:hover {
      background: palette(black);
      color: palette(grey);
    }
  }
}
