.almanac

  .almanac__content
    h1 :first-of-type and :last-of-type examples
    h5 The first paragraph will have bold text and the last will have red color
    .almanac__content__first-of-type
      p Morbi tincidunt quam ut odio venenatis, sed cursus dui scelerisque. Nullam eu dui lectus. Morbi ut fermentum urna. Etiam placerat ex ipsum.

      p Morbi tincidunt quam ut odio venenatis, sed cursus dui scelerisque. Nullam eu dui lectus. Morbi ut fermentum urna. Etiam placerat ex ipsum.

      p Morbi tincidunt quam ut odio venenatis, sed cursus dui scelerisque. Nullam eu dui lectus. Morbi ut fermentum urna. Etiam placerat ex ipsum.


  .almanac__content
    h1 :not(s) examples
    h5 Negation pseudo class examples (all but the last item of the rows will have a black background)

    ul.almanac__content__not-list

      li.almanac__content__not-list-item
        | 1st Child item

      li.almanac__content__not-list-item
        | 2nd Child item

      li.almanac__content__not-list-item
        | 3rd Child item

      li.almanac__content__not-list-item
        | 4th Child item

      li.almanac__content__not-list-item
        | 5th Child item

      li.almanac__content__not-list-item
        | 6th Child item

      li.almanac__content__not-list-item
        | 7th Child item

      li.almanac__content__not-list-item
        | 8th Child item


  .almanac__content
    h1 General Simbling
    h5 The general sibling combinator (~). After the first paragraph the font weight changes in all the following paragraphs.

    .almanac__content__general-simbling

      p.almanac__content__general-simbling--first Morbi tincidunt quam ut odio venenatis, sed cursus dui scelerisque. Nullam eu dui lectus. Morbi ut fermentum urna. Etiam placerat ex ipsum.

      p Morbi tincidunt quam ut odio venenatis, sed cursus dui scelerisque. Nullam eu dui lectus. Morbi ut fermentum urna. Etiam placerat ex ipsum.


      p Morbi tincidunt quam ut odio venenatis, sed cursus dui scelerisque. Nullam eu dui lectus. Morbi ut fermentum urna. Etiam placerat ex ipsum.
