.child-selectors

  .child-selectors__content
    h1 :nth-child selector examples
    h4 The last item of the row will have a black background

    ul.child-selectors__content-list

      li.child-selectors__content-item
        | 1st Child item

      li.child-selectors__content-item
        | 2nd Child item

      li.child-selectors__content-item
        | 3rd Child item

      li.child-selectors__content-item
        | 4th Child item

      li.child-selectors__content-item
        | 5th Child item

      li.child-selectors__content-item
        | 6th Child item
