.flex__wrapper
  .flex__wrapper1-content
    header.flex__wrapper1-header Header
    article.flex__wrapper1-main
      p
        | Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.
    aside.flex__aside.flex__aside-1 Aside 1
    aside.flex__aside.flex__aside-2 Aside 2
    footer.flex__wrapper1-footer Footer

.flex__wrapper

  ul.flex__wrapper-list

    li.flex__wrapper-list-item
      | 1st Child item

    li.flex__wrapper-list-item
      | 2nd Child item

    li.flex__wrapper-list-item
      | 3rd Child item

    li.flex__wrapper-list-item
      | 4th Child item

    li.flex__wrapper-list-item
      | 5th Child item

    li.flex__wrapper-list-item
      | 6th Child item

    li.flex__wrapper-list-item
      | 7th Child item

    li.flex__wrapper-list-item
      | 8th Child item
