footer.footer
  p
    | This testing dev environment is build by&nbsp;
    a(href="http://marzeelabs.org/" target="_blank" alt="Marzee Labs") MARZEE LABS
    |,<br>a leading drupal development company.<br>
    |&copy; MARZEE LABS #{new Date().getFullYear()}
